body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(122,228,116);
    background: linear-gradient(90deg, rgba(122,228,116,1) 13%, rgba(0,212,255,1) 100%);
    padding: 40px;
    align-content: center;
}
.ave {
    display: inline-block;
    padding: 40px;
    align-items: center;
}
img {
    border-radius: 50px;
    image-resolution: from-image 300dpi;
    width: 300px;
}
h1 {
    text-align: center;

}